<header>
  <h1>TinyApp</h1>

  <% if (currentUser) { %>
    Logged in as: <%= currentUser.email%>
    <form method="POST" action="/logout">
      <input type="submit" value="Logout">
    </form>
  <% } else { %>
    <p>
      <a href="/register">Register</a>
      |
      <a href="/login">Login</a>
    </p>
  <% } %>
</header>
