<header>
  <h1>TinyApp</h1>

  <% if (user) { %>
    Logged in as: <%= user.email %>
    <form method="POST" action="/logout">
      <input type="submit" value="Logout">
    </form>
  <% } else { %>
    <form method="POST" action="/login">
      <label for="username">Enter Username</label>
      <input type="text" name="username">
      <input type="submit" value="Submit">
    </form>
  <% } %>
</header>
