<%- include partials/_header %>
<p>
  <a href="/urls">Your current list of URLs</a>
</p>

</div>

<div class="content">

  <h1>Create a Shortened URL</h1>
    <form class="form-inline" action="/urls" method="POST">
      <div class="form-group mb-2">
        <label for="longURL">Enter a URL:</label>
        <input class="form-control" type="text" name="longURL" placeholder="http://" style="width: 300px; font-size: 20px; height: 30px; margin: 1em">
        <button type="submit" class="button button1">Submit</button>
      </div>
    </form>
</div>

  </body>
</html>